<div class = "show_page">
<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>内容</strong>
  <%= @blog.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @blog.image.url if @blog.image.url %>
</p>
<p>ユーザー名:<%= @blog.user.name %></p>

<p class="btn btn-primary"><%= link_to '編集する', edit_blog_path(@blog) %></p>
<p class="btn btn-primary"><%= link_to '戻る', blogs_path %></p>

</div>