<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>内容</strong>
  <%= @blog.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @blog.image.url if @blog.image.url %>
</p>
<p>ユーザー名:<%= @blog.user.name %></p>

<%= link_to '編集する', edit_blog_path(@blog) %> |
<%= link_to '戻る', blogs_path %>
